.arrange {
  display: flex;
}

.arrange li {
  margin-left: 15px;
  color: #919191;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Montserrat';
}

.arrange li:hover,
.arrange li.active {
  color: #1a1a1a;
}