footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  font-family: 'Montserrat';
  border-top: 1px solid #1a1a1a;
  background: #F8F3EF;
}

.copyright h3 {
  font-weight: 500;
}

.copyright span {
  display: block;
  font-size: 11px;
  color: #9A9A9A;
}

.contact {
  display: flex;
}

.contact h3 {
  margin-left: 16px;
  font-size: 12px;
  color: #9A9A9A;
  cursor: pointer;
}

.contact h3:hover {
  color: #1a1a1a;
}


@media screen and (max-width:767px) {
  footer {
    padding: 10px 15px;
  }
}