.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-family: 'Montserrat';
  z-index: 9999;
  backdrop-filter: blur(8px);
}

.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.logo {
  margin-right: 45px;
  font-size: 40px;
  font-family: 'Playfair Display SC', serif;;
  cursor: pointer;
  color: #fff;
}

.nav__left {
  display: flex;
  align-items: center;
}

.left_menu {
  display: flex;
  color: #fff;
  margin-top: 16px;
}

.left_menu li {
  position: relative;
  padding: 5px 0; 
  margin: 0 15px;
  font-weight: 600;
  font-size: 13px;
  transition: all 0.2s;
  cursor: pointer;
}

.left_menu li::before {
  position: absolute;
  bottom: 5px;
  left: 50%;
  height: 2px;
  width: 0%;
  background: #fff;
  transition: .3s;
  content: "";
} 

.left_menu li:hover::before,
.left_menu li.active::before {
  left: 0;
  width: 100%;
}

.nav__right ul {
  display: flex;
  margin-top: 10px;
  transition: color .3s ease-in-out;
  color: #191919;
}

.nav__right ul.white {
  color: #fff;
}

.nav__right ul li {
  position: relative;
  margin-left: 30px;
  cursor: pointer;
  padding: 5px 0;
  font-weight: 600;
  font-size: 13px;
}

.nav__right ul li::before {
  position: absolute;
  bottom: 5px;
  left: 50%;
  height: 1px;
  width: 0%;
  background: #fff;
  transition: .3s;
  content: "";
} 

.nav__right ul li:hover::before {
  left: 0;
  width: 100%;
}

/* hamburger */
.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 4px;
  background: #fff;
  opacity: 1;
  transition: all 0.4s;
}

.hamburger span:nth-child(2) {
  top: 0;
}

.hamburger span:nth-child(3) {
  top: 100%;
}

.hamburger.active span:nth-child(1) {
  opacity: 0;
}

.hamburger.active span:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width:900px) {
  .nav__right ul li {
    color: #fff;
  }
}
@media (max-width : 767px) {
  .nav {
    backdrop-filter: blur(10px);
  }
  .left_menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.6s;
    overflow: hidden;
    color: #191919;
    z-index: 9999;
  }

  .left_menu.active{
    height: 150px;
  }

  .left_menu li:nth-child(1) {
    display: block;
  }

  .left_menu li {
    padding: 10px;
    display: block;
  }

  .left_menu li:hover {
    color: #B89FA4;
  }

  .left_menu li::before {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger::before {
    display: none;
  }
}