.tab {
  display: flex;
  font-family: 'Montserrat';
  color: #1a1a1a;
}

.tab li {
  position: relative;
  margin-right: 30px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.tab li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0%;
  height: 1px;
  background: #1a1a1a;
  transition: .3s;
}
.tab li.active::before,
.tab li:hover::before {
  left: 0%;
  width: 100%;
}