.detail {
  display: flex;
  height: 100vh;
  padding-top: 70px;
  background: #b89fa4;
  font-family: "Playfair Display SC", serif;
  color: #fff;
}

.detail__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.detail__left img {
  width: 80%;
  height: 90%;
  object-fit: cover;
}

.detail__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.order_form {
  color: #fff;
  height: 480px;
  width: 65%;
  /* border: 1px solid #fff; */
  padding: 30px;
}

.order_form h3 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(246, 240, 234, 0.5);
}

.order_form__option {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 60px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(246, 240, 234, 0.5);
}

.order_form__option h4 {
  width: 150px;
}

.order_form__option ul {
  display: flex;
}

.order_form__option ul li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  border: 1px solid rgba(246, 240, 234, 0.5);
  cursor: pointer;
  margin-right: 10px;
}

.order_form__option .count_input {
  outline: none;
  border: none;
  width: 50px;
  background: #dacacd;
  color: #fff;
}

.order_form__submit_btn {
  margin-top: 20px;
  width: 100%;
  background: #8f7c7f;
  padding: 10px 0;
  color: #fff;
}
