.banner {
  background: #F8F3EF;
  margin-top: 70px;
  height: calc(100vh - 70px);
}

.banner__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.banner__text {
  position: relative;
  transform: translateY(10%);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Playfair Display SC', serif;
  
  font-weight: 200;
  color: #1A1A1A;
  z-index: 100;
}

.banner__text div {
  position: relative;
  overflow: hidden;
  background-blend-mode: difference;
}

.banner__text div span {
  display: block;
  white-space: nowrap;
  transform: translateY(100%);
  opacity: 0;
  font-size: 3.5vw;
  transition: .5s ease-in;
  transition-delay: 1.2s;
  
}
.banner__text div:nth-child(2) span {
  transition-delay: 1.4s;
}
.banner__text div:nth-child(3) span {
  transition-delay: 1.6s;
}
.banner__text div:nth-child(4) span {
  transition-delay: 1.8s;
}

.banner__text.mount div span {
  transform: translateY(0%);
  opacity: 1;
}

.banner__img {
  position: absolute;
  object-fit: cover;
}

.banner__img.img01 {
  top: -3vw;
  left: -15vw;
  width: 20vw;
}