main {
  position: relative;
  margin-top: 70px;
  background: #F8F3EF;
  height: calc(100vh - 70px);
  overflow: hidden;
}

.banner {
  background: #ff0;
}

.banner__center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5%;
  transform: translate(-50%, -50%);
  background: #F8F3EF;
}

.banner__text {
  position: relative;
  text-align: center;
  mix-blend-mode: difference;
  font-weight: 200;
  color: #fff;
  z-index: 100;
}

.banner__text div {
  position: relative;
  overflow: hidden;
}

.banner__text div span {
  display: block;
  white-space: nowrap;
  transform: translateY(100%);
  text-transform: uppercase;
  font-family: 'Playfair Display SC', serif;
  opacity: 0;
  font-size: 3.5vw;
  transition: transform .5s ease-in;
  transition-delay: 1.2s;

}

.banner__text div:nth-child(2) span {
  transition-delay: 1.4s;
}

.banner__text div:nth-child(3) span {
  transition-delay: 1.6s;
}

.banner__text div:nth-child(4) span {
  transition-delay: 1.8s;
}

.banner__text.mount div span {
  transform: translateY(0%);
  opacity: 1;
}

.banner__img {
  position: absolute;
  object-fit: cover;
  transform: scale(0%);
  transition: transform .5s ease-in;
  transition-delay: 1.8s;
}

.banner__img.mount {
  transform: scale(100%);
}

.banner__img.img01 {
  top: -1vw;
  left: -15vw;
  width: 20vw;
}

.banner__img.img02 {
  top: -6vw;
  left: 39vw;
  width: 17vw;
}

.banner__img.img03 {
  top: 18vw;
  left: 16vw;
  width: 22vw;
}

.footer_wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
}


@media screen and (max-width:900px) {
  .banner__center {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@media screen and (max-width:767px) {
  .banner__img.img01 {
    width: 30vw;
  }

  .banner__img.img02 {
    top: -24vw;
    left: 30vw;
    width: 25vw;
  }

  .banner__img.img03 {
    top: 24vw;
    left: 25vw;
    width: 30vw;
  }
}